<%= form_with(model:building, local: true) do |form| %>
    <div class="row">
        <%= form.label :nombre_edificio, "Nombre Edificio" %>
        <div class="col-3">
            <%= form.text_field :nombre_edificio, class: "form-control" %>
        </div>
    </div>

    <br>

     <div class="row">
        <%= form.label :direccion %>
        <div class="col-3">
            <%= form.text_field :direccion, class: "form-control" %>
        </div>
    </div>

    <br>

     <div class="row">
        <%= form.label :ciudad %>
        <div class="col-3">
            <%= form.text_field :ciudad, class: "form-control" %>
        </div>
    </div>  

    <br>  
      
     <div class="actions">
        <%= form.submit "Guardar", class: "btn btn-success" %>
        <%= link_to 'Regresar', edificios_url, class: "btn btn-secondary" %>        
    </div>

<% end %>
