<div class="container">
    <h1>LISTA DE DEPARTAMENTOS</h1>

    <h3 class= "text-center" id="notice"><%= notice %></h3>
    <br>

    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">NUMERO DEPARTAMENTO</th>
                <th scope="col">ID EDIFICIO</th>
                <th colspan="3">ACCIONES</th>
            </tr>
        </thead>

        <tbody>
            <% @apartments.each do |a| %>
                <tr>        
                    <td><%= a.numero_departamento %></td>
                    <td><%= a.building_id %></td>
                                    
                    <td><%= link_to "Mostrar", apartment_path(a), class: "btn btn-secondary" %></td>          
                           
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Agregar Departamento', new_apartment_url(@apartment), class:"btn btn-success" %>
  
</div>

